terraform {
  backend "s3" {
    bucket         = "security-lakehouse-tfstate-<SECURITY_ACCOUNT_ID>"
    key            = "workloads/<ACCOUNT_ALIAS>/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "security-lakehouse-tflock"
    encrypt        = true
  }
}
